
* {
    margin: 0;
    padding: 0;
}

img {
    width: 10vh; 
}

.container {
    text-align: center;
}
@media only screen and (max-width:500px) {
    .banner h1 {
        color: coral;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .banner p {
        visibility: hidden;
    }

    .link a {
        display: block;
    }


}



@media only screen and (min-width:1000px) {
    .banner p {
        color: darkgreen;
        margin-top: 50px;
        visibility: visible;
        text-decoration-line: underline;
    }

    .container {
        display: grid;
        grid-template-rows: 1fr;
        height: 20vh;
        margin: 2vh 2vw 2vh 2vw;
    }
    
    .navbar {
        display: grid;
        grid-template-columns: 2fr 4fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        justify-items: center;
        align-items: center;
    }
    #secret-one {
        font-size: 2vh;
    }
    
    
    
    .banner {
        background-image: url('/banner.jpg');
        width: 100%;
        height: 40vh;
        /* justify-items: center; */
        /* align-items: center; */
        text-align: center;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr; */
        /* background-color: #2196F3; */
        padding: 10px;
        justify-items: center;
    
    }
    
    .content > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px;
        font-size: 30px;
    }
    
    
    #mymove {
        position: relative;
        animation-name: mymove;
        animation-duration: 4s;
    }
    
    @keyframes mymove {
        0%   {left:0px; top:0px;}
        50%  {left:100px; top:100px;}    
        100% {left:0px; top:0px;}
    }
    
    #secret-one:hover {
        font-size: 1rem;
        transition: font-size 1s ease-out;
        background-color:aqua ;
        margin-left: 30vw;
        margin-right: 30vw;
    }
    
    
    #secret-one:active {
        cursor: progress;
        font-size: small;
    }
    
    
    
    #picture {
        position: relative;
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        margin-right: 10px;
        background-color: hotpink;
        animation-name: picture;
        animation-duration: 5s;
    }
    
    @keyframes picture {
        from {background-color:hotpink;}
        to {background-color: rgb(32, 219, 57);}
    }
    
    
    #secret-two {
        opacity: 0;
        transition: opacity 5s ease-in-out;
    }
    
    #secret-two:hover {
        opacity: 100;
        cursor:help ;
    }
    
    #secret-two:active {
        background-color: khaki;
        cursor: help;
        margin-right: 30vw;
        margin-left: 30vw;
        font-weight: bolder;
    }

    }

/* 
html {
    width: 60vw;
    padding: 0;
    display: inline-block;
    background:darkgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    scroll-behavior: smooth;
}

#topnav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #2196F3;
    padding: 10px;
    height: 5vh;
  }
  .class {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    justify-self: end;
  }

#topnav a {
    display:inline-block;
    text-align: right;
    position: sticky;
    z-index: 5;
    top: 0;
}

#logo img {
    position: absolute;
    height: 30px;
  }


div ul li {
    text-align: left;
}
div > a {
    color: blue;
    display: inline-block;
    text-align: center;
}

#page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items:  center;
    position: relative;
}

a:visited {
    color: rgb(36, 15, 155);
    text-align: right;
    direction: rtl;
}

article > p {
    background-color: yellow;
    color: rgb(136, 28, 28);
    text-align: center;
}

h1 {
    color: #EF8354;
    font-family: 'MuseoModerno', cursive;
    text-align: center;
}
h2 {
    color: rgb(59, 59, 218);
    font-size: initial;
    text-align: center;
}


a {
    text-align: center;
}

header h2:nth-child(2) {
    background: rgb(252, 184, 184);
    padding-left: 20px;
    width: 300px;
    text-align: center;
}


img {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

img + a {
    font-weight: bolder;
    text-align: center;
    color: white;
}

iframe {
    width: 460;
    height: 300;
}
p { 
    text-align: left;
    display: block;
}



#secret-one:hover {
    font-size: 2rem;
    transition: font-size 3s ease-in-out;
    background-color:aqua ;
}


#secret-one:active {
    cursor: progress;
    font-size: small;
}

footer {
    color: rgb(59, 9, 196);
    margin-top: 50px;
} */
