@import "_variable.scss";

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    text-align: center;
    background-color: rgb(255, 205, 205);
}

h1 {
    color:whitesmoke;
    text-shadow: 1px 1px 2px white, 0 0 25px red, 0 0 5px darkred;
}

h2 {
    
    text-shadow: 5px 5px 10px rgb(189, 20, 20);
}

a {
    text-decoration: none;
}

.header {
    // background-color: $background-colour;
    
    background-image: url(Pictures/background.jpg);
    background-size: cover;
    color: $text-colour;
}

img {
    max-width: 100%;
}

.logo img {
    width: 80px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navbar {
    a{
    text-align: center;
    color: $text-colour;

    img {
        display: block;
        padding-top: 20px;
        margin-left: 0;
        width: 25px;
        height: auto;
        }
    }
}

.footer {
    background-color: $background-colour;
    height: 200px;
    width: 100%;
    display: block;
    color: $text-colour;
    text-align: center;

    p{
        padding-top: 25px;
    }

    img {
        display: block;
        padding-top: 20px;
        margin: auto;
        width: 250px;
        height: auto;
        }

    #up-btn img {
        width: 55px;
        height: auto;
        // background: black;
        position: fixed;
        right: 30px;
        bottom: 20px;
        // display: none;

        // span:hover + #up-btn {
        //     display: block;
        // }
        }
    
    }

    #up-btn img:hover {
        opacity: 0.5;
    }

    .go-up {
        display: none;
    }


     #up-btn img:hover + span {
        display: block;
        position: fixed;
        right: 15px;
        bottom: 85px;
        background-color: blanchedalmond;
     }


#social-media img {
    width: 40px;
    padding: 10px;
    margin-top: 10px;

}

.footer a {
    display: inline-block;
}