* {
  padding: 0px;
  margin: 0px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  text-align: center;
  background-color: #d2bfd3;
}

a {
  text-decoration: none;
}

.header {
  background-image: url(Pictures/background.jpg);
  background-size: cover;
  color: white;
}

img {
  max-width: 100%;
}

.logo img {
  width: 80px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navbar a {
  text-align: center;
  color: white;
}

.footer {
  background-color: #01449b;
  height: 126px;
  width: 100%;
  display: block;
  color: white;
  text-align: center;
}

.footer p {
  padding-top: 25px;
}

.footer img {
  display: block;
  padding-top: 20px;
  margin: auto;
  width: 250px;
  height: auto;
}

.footer #up-btn img {
  width: 55px;
  height: auto;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

p {
  text-align: left;
}

.video-content {
  width: auto;
  height: 315;
}

.video-content iframe {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}

.story, .ingredients {
  text-align: center;
  color: blue;
}

.story p, .ingredients p {
  margin-top: 20px;
  margin-left: 20px;
  display: block;
  color: black;
}

.story img, .ingredients img {
  margin: 20px 20px 20px 20px;
  width: 40%;
  height: auto;
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
}

.write-review {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.customer-review h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.customer-review p {
  display: block;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.customer-review .image-customer img {
  border-radius: 50%;
  width: 10vh;
  height: auto;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

footer p {
  text-align: center;
}

/*Mobile Break Point*/
@media only screen and (min-width: 400px) {
  .up-btn {
    width: 55px;
    height: 55px;
    bottom: 30px;
    right: 30px;
    line-height: 70px;
    font-size: 30px;
    padding-top: 12px;
  }
}

/*Tablet break point*/
@media only screen and (min-width: 600px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header ul a {
    border-bottom: none;
    border-right: 2px solid wheat;
  }
  .header li {
    float: left;
    list-style: none;
  }
  .header li a {
    padding: 20px 15px;
    font-size: 1rem;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .up-btn {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 30px;
    right: 30px;
    line-height: 70px;
    font-size: 30px;
    padding-top: 12px;
  }
}

/*Latop/desktop break point*/
@media only screen and (min-width: 1100px) {
  .our-story, .better-ingredient {
    margin: 20px 20px 20px 20px;
  }
  .our-story img, .better-ingredient img {
    display: inline;
    float: right;
  }
  .our-story p, .better-ingredient p {
    float: left;
  }
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header img {
    width: 100px;
    padding: 10px;
  }
  .header li {
    list-style: none;
  }
  .header li a {
    padding: 20px 30px;
    font-size: 1.4rem;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .write-review {
    display: block;
  }
  .customer-review {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(450px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    margin: 5px 5px 5px 5px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .customer-review {
    width: 100%;
  }
  .image-customer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin: 10px;
  }
  .reviewer-name p {
    line-height: 25px;
    text-align: justify;
  }
  .up-btn {
    width: 70px;
    height: 70px;
    bottom: 25px;
    right: 30px;
    line-height: 70px;
    font-size: 40px;
    padding-top: 15px;
  }
}
/*# sourceMappingURL=about-us.css.map */