* {
  padding: 0px;
  margin: 0px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  text-align: center;
  background-color: #ffcdcd;
}

h1 {
  color: whitesmoke;
  text-shadow: 1px 1px 2px white, 0 0 25px red, 0 0 5px darkred;
}

h2 {
  text-shadow: 5px 5px 10px #bd1414;
}

a {
  text-decoration: none;
}

.header {
  background-image: url(Pictures/background.jpg);
  background-size: cover;
  color: white;
}

img {
  max-width: 100%;
}

.logo img {
  width: 80px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navbar a {
  text-align: center;
  color: white;
}

.navbar a img {
  display: block;
  padding-top: 20px;
  margin-left: 0;
  width: 25px;
  height: auto;
}

.footer {
  background-color: #01449b;
  height: 200px;
  width: 100%;
  display: block;
  color: white;
  text-align: center;
}

.footer p {
  padding-top: 25px;
}

.footer img {
  display: block;
  padding-top: 20px;
  margin: auto;
  width: 250px;
  height: auto;
}

.footer #up-btn img {
  width: 55px;
  height: auto;
  position: fixed;
  right: 30px;
  bottom: 20px;
}

#up-btn img:hover {
  opacity: 0.5;
}

.go-up {
  display: none;
}

#up-btn img:hover + span {
  display: block;
  position: fixed;
  right: 15px;
  bottom: 85px;
  background-color: blanchedalmond;
}

#social-media img {
  width: 40px;
  padding: 10px;
  margin-top: 10px;
}

.footer a {
  display: inline-block;
}

.banner {
  position: relative;
  margin-top: 25px;
}

.banner h1 {
  position: absolute;
  text-align: center;
  color: wheat;
  font-size: 20px;
  top: 50px;
  left: 20px;
}

.banner p {
  visibility: hidden;
}

#secret-two {
  -webkit-transition: font-size 3s ease-in-out;
  transition: font-size 3s ease-in-out;
}

#secret-two:hover {
  font-size: 2em;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: font-size 1s ease-in-out;
  transition: font-size 1s ease-in-out;
}

#secret-two:active {
  font-size: 1em;
  cursor: pointer;
}

#main-image {
  width: 100%;
  height: auto;
}

.main-sections {
  display: block;
  text-align: center;
  color: blue;
  text-decoration: none;
}

.main-sections .section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-sections .section h1 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.main-sections img {
  border-radius: 10%;
  border: 10px solid green;
  height: auto;
  width: 50%;
  -o-object-fit: fill;
     object-fit: fill;
}

.main-sections a {
  width: 100%;
  color: blue;
  font-weight: bold;
}

.main-sections p {
  color: #77510a;
  margin-top: 10px;
  margin-bottom: 20px;
}

.store-info {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.store-info h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2em;
  color: #e7e7e7;
}

.store-info h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.store-info iframe {
  width: 100%;
  height: 30vh;
  margin-top: 20px;
}

/*Mobile Break Point*/
@media only screen and (max-width: 400px) {
  .btn {
    display: none;
  }
}

@media only screen and (min-width: 400px) {
  .banner h1 {
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-name: slideout;
            animation-name: slideout;
  }
  @-webkit-keyframes slideout {
    from {
      margin-left: 100%;
      width: 200%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @keyframes slideout {
    from {
      margin-left: 100%;
      width: 200%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .up-btn {
    width: 55px;
    height: 55px;
    bottom: 30px;
    right: 30px;
    line-height: 70px;
    font-size: 30px;
    padding-top: 12px;
  }
}

/*Tablet break point*/
@media only screen and (max-width: 600px) {
  .btn {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header ul a {
    border-bottom: none;
    border-right: 2px solid wheat;
  }
  .header li {
    float: left;
    list-style: none;
  }
  .header li a {
    padding: 20px 20px;
    font-size: 1rem;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .banner h1 {
    font-size: 2em;
    top: 130px;
    bottom: 100px;
    left: 50px;
  }
  .banner p {
    visibility: visible;
    color: chocolate;
    position: absolute;
    top: 100px;
    left: 65px;
    font-size: 1em;
  }
  .btn {
    position: absolute;
    top: 200px;
    left: 10%;
    background-color: #f1f1f1;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 20%;
    text-align: center;
  }
  .btn:hover {
    background-color: #fa9292;
    color: white;
  }
  .up-btn {
    width: 55px;
    height: 55px;
    bottom: 30px;
    right: 30px;
    line-height: 70px;
    font-size: 30px;
    padding-top: 12px;
  }
  .map {
    padding: 0 10px;
    height: 40vh;
  }
  .map iframe {
    height: 40vh;
  }
}

/*Latop/desktop break point*/
@media only screen and (min-width: 1100px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header img {
    width: 110px;
    padding: 10px;
  }
  .header li {
    float: left;
    list-style: none;
  }
  .header li a {
    padding: 20px 30px;
    font-size: 1.4rem;
  }
  .btn {
    position: absolute;
    top: 200px;
    left: 10%;
    background-color: #f1f1f1;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 20%;
    text-align: center;
  }
  .btn:hover {
    background-color: #fa9292;
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */